# Archivos del sistema
.DS_Store
Thumbs.db

# Configuraciones locales / secretos
.env

# Carpeta de compilación / resultados de build
build/
dist/
target/
out/

# Dependencias (si alguien usa Node para algún mod/plugin)
node_modules/

# Archivos temporales de IDEs
*.iml
*.idea/
*.vscode/
